.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
.footer {
  width: 100%;
  padding: 10px 0px 25px 0px;
  color: #ccc;
}
.logo-link{
    color: #ccc;
    font-size: 19px;
}
.logo-link:hover{
    color: #ccc;
    border-bottom: none;
    /* fix the border */
}

